:root {
   /* --primary-text-color: rgba(0, 0, 0, 0.8); title-text-color */
    --primary-text-color: #212121;
    --accent-color: #757575;
    --primary-white-color: #ffffff;
    --button-link-color: #2196F3;
}

body {
    background-color: var(--primary-white-color);
    color: var(--primary-text-color);
}
/* Style Studio */



/* Style Portfolio */

/* list-style: none;*/