:root {
   /* --primary-text-color: rgba(0, 0, 0, 0.8); title-text-color */
    --primary-text-color: #212121;
    --accent-color: #757575;
    --primary-white-color: #ffffff;
    --button-link-color: #2196F3;
    --primary-black-color: #000000;
    --button-second-color: #F5F4FA;
    --footer-main-color: rgda(255, 255, 255, 0.6);
    --bgr-footer: #2F303A;
  }

body {
    background-color: var(--primary-white-color);
    color: var(--primary-text-color);
}
/* Style Studio */

li {
  list-style: none;
}

.title-one {
  color: var(--primary-white-color);
  background-color: var(--bgr-footer);
}
.title-invisible{
  color: transparent;
}

.title-benefits{
  color: var(--primary-text-color);
}

.text-benefits {
  color: var(--accent-color);
}

.title-work{
  color: var(--primary-text-color);
}

.command {
  color: var(--primary-text-color);
}

.title-command {
  color: var(--primary-text-color);
}

.filter-command {
  color: var(--accent-color);
}


/* Site nav */
.site-nav .link {
    color: var(--primary-text-color);
  }
  
  .site-nav .link:hover,
  .site-nav .link:focus {
    color: var(--button-link-color);
  }
  
  .site-nav .link.current {
    color: var(--button-link-color);
  }
  .site-nav-contact {
    color: var(--accent-color);
  }
  .site-nav-contact:hover, 
  .site-nav-contact:focus {
    color: var(--button-link-color);
  }

  .logo {
    color: var(--primary-black-color);
  }

  /* Style Portfolio */

  .filter{
    color: var(--primary-text-color);
    background-color: var(--button-second-color);
  }
  .filter.active {
    color: var(--primary-white-color);
    background-color: var(--button-link-color);
  }
  
  .title-project{
    color: var(--primary-text-color);
  }
  .filter-project{
    color: var(--accent-color);
  }

  /* Footer */
    .footer-position {
      color: var(--primary-white-color);
      background-color: var(--bgr-footer);
    }
    .footer-link {
      color: var(--footer-main-color);
      background-color: var(--bgr-footer);
    }
  
/* list-style: none;*/